<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">

      <!--配置dispathcerServlet-->
      <!--简化配置：
            1、自动注册defaultannotationhadlermapping,annotationmethodhandleradapter
            1\ti提供一系列数据绑定、数字和日期的format nymberformat datatimeformat,xml、json默认读写支持-->
       <servlet>
         <servlet-name>seckill-dispatcher</servlet-name>
         <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
          <!-- 配置springMVC需要加载的配置文件
                spring-dao.xml spring-servlet.xml,spring-web.xml-->
         <init-param>
           <param-name>contextConfigLocation</param-name>
           <param-value>classpath:spring/spring-*.xml</param-value>
         </init-param>
       </servlet>
       
        <servlet-mapping>
          <servlet-name>seckill-dispatcher</servlet-name>
          <!--默认匹配所有请求-->
          <url-pattern>/</url-pattern>
        </servlet-mapping>
  
  </web-app>